Repository openedx/edx-enterprise, pull requests merged in 2020-10, with the labels that each got.

#980 ENT-3474: Blackboard Client implementation
  CHANGELOG.rst
  enterprise/__init__.py
  enterprise/urls.py
  integrated_channels/blackboard/admin/__init__.py
  integrated_channels/blackboard/apps.py
  integrated_channels/blackboard/client.py
  integrated_channels/blackboard/migrations/0002_auto_20200930_1723.py
  integrated_channels/blackboard/models.py
  integrated_channels/blackboard/urls.py
  integrated_channels/blackboard/views.py
  tests/test_integrated_channels/test_blackboard/test_views.py
Labels: blackboard

#989 ENT-3472: blackboard exporter
  CHANGELOG.rst
  integrated_channels/blackboard/exporters/content_metadata.py
  tests/test_integrated_channels/test_blackboard/test_exporters/__init__.py
  tests/test_integrated_channels/test_blackboard/test_exporters/test_content_metadata.py
Labels: blackboard

#998 [FEAT] Adding learner data transmission capabilities to the Blackboard IC
  CHANGELOG.rst
  enterprise/__init__.py
  integrated_channels/blackboard/client.py
  integrated_channels/blackboard/exporters/learner_data.py
  integrated_channels/blackboard/migrations/0003_blackboardlearnerdatatransmissionaudit.py
  integrated_channels/blackboard/models.py
  integrated_channels/blackboard/transmitters/learner_data.py
  tests/test_integrated_channels/test_blackboard/test_client.py
  tests/test_integrated_channels/test_blackboard/test_transmitters/test_learner_data.py
Labels: blackboard, hacktoberfest-accepted

#996 ENT-3473: Transmitter for blackboard, sends courseId as a hash of course Key
  CHANGELOG.rst
  enterprise/__init__.py
  integrated_channels/blackboard/client.py
  integrated_channels/blackboard/exporters/content_metadata.py
  integrated_channels/blackboard/migrations/0004_blackboard_tx_chunk_size_default_1.py
  integrated_channels/blackboard/models.py
  integrated_channels/blackboard/transmitters/content_metadata.py
  integrated_channels/integrated_channel/management/commands/__init__.py
  integrated_channels/utils.py
  tests/test_integrated_channels/test_blackboard/test_client.py
  tests/test_integrated_channels/test_blackboard/test_transmitters/__init__.py
  tests/test_integrated_channels/test_blackboard/test_transmitters/test_content_metadata.py
  tests/test_integrated_channels/test_blackboard/test_transmitters/test_learner_data.py
Labels: blackboard

#1009 ENT-3557: improve exception reporting for authfailure blackboard
  CHANGELOG.rst
  enterprise/__init__.py
  integrated_channels/blackboard/views.py
Labels: blackboard

#1012 Adding blackboard course integration customization
  CHANGELOG.rst
  enterprise/__init__.py
  integrated_channels/blackboard/client.py
  integrated_channels/blackboard/exporters/content_metadata.py
  tests/test_integrated_channels/test_blackboard/test_client.py
  tests/test_integrated_channels/test_blackboard/test_exporters/test_content_metadata.py
Labels: blackboard, hacktoberfest-accepted

#1013 ENT-3116: Adds in API endpoint that mimics admin manager_learner functionality
  CHANGELOG.rst
  enterprise/__init__.py
  enterprise/admin/forms.py
  enterprise/admin/utils.py
  enterprise/admin/views.py
  enterprise/api/v1/fields.py
  enterprise/api/v1/serializers.py
  enterprise/api/v1/views.py
  enterprise/api_client/lms.py
  enterprise/utils.py
  tests/test_admin/test_utilities.py
  tests/test_admin/test_view.py
  tests/test_enterprise/api/test_views.py
  tests/test_enterprise/test_utils.py
  tests/test_utilities.py
Labels: hacktoberfest-accepted

#1022 ENT-3279: Upgrade to pytest 6+ (and factoryboy 3+)
  .gitignore
  CHANGELOG.rst
  enterprise/__init__.py
  enterprise/signals.py
  requirements/constraints.txt
  requirements/dev.txt
  requirements/doc.txt
  requirements/edx-platform-constraints.txt
  requirements/js_test.txt
  requirements/test-master.txt
  requirements/test.txt
  requirements/travis.txt
  test_utils/factories.py
  tests/test_models.py
Labels: pytest, test_infrastructure
